@font-face {
    src: url("../font Raleway/raleway-light-webfont.woff");
    font-family: "ralewayLight";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ralewayLight", Arial ,sans-serif;
}
.main_width {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background-color: black;
    height: 40px;
    width: 100%;
    padding: 10px 0;
}
.logo {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
ul li a {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 600;
}
.greentext {
    color: #27c7ab;
}
.post {
    height: 500px;
    width: 100%;
    background: linear-gradient(180deg ,#F8F8F8 ,#D0CFD7 );
}
.post_image {
    width: 470px;
    height: 340px;
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
}
.post_content {
    width: 570px;
    height: 500px;
    padding-right: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post_content h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.post_content p {
    text-align: center;
    margin: 50px 0;
    font-size: 15px;
    font-weight: 100;
}
.post_content button {
    width: 250px;
    height: 50px;
    background-color: #27c7ab;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 300;
    padding: 0;
    border: none;
}
.small-box1, .small-box2 {
    height: 230px;
    width: 330px;
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;

}
.small-box1 {
    background-image: url("../images/box1_img.jpg");
    background-repeat: no-repeat;
}
.small-box2 {
    background-image: url("../images/box2_img.jpg");
    background-repeat: no-repeat;

}
.medium-box {
    height: 250px;
    width: 330px;
    border: 1px solid #D0CFD7;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 30px 20px;
    position: relative;
}
.opacity_box {
    height: 60px;
    background-color: rgba(255,255,255,0.5);
    margin-top: 150px;
}
.opacity_box p {
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 15px;
}
.small-box1 .green_underline,.small-box2 .green_underline {
    height: 5px;
    width: 130px;
    background-color: #27c7ab;
    position: absolute;
    left: 15px;
}
.medium-box p {
    font-size: 12px;
    margin-top: 30px;
    color: #929199;
}
.medium-box h3 {
    font-size: 15px;
}
.medium-box .green_underline {
    height: 5px;
    width: 140px;
    background-color: #27c7ab;
    position: absolute;
}
.cennik {
    height: 40px;
    background-color: #EFEFEF;
    width: 100%;
}
.cennik .main_width .green_underline {
    width: 320px;
    height: 5px;
    color: #27c7ab;
    display : block;
}
.cennik .main_width h2 {
    font-size: 20px;
    color: #424242;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 50px;
    position: relative;
    display: inline;
}
.grey-background {
    background-color: #EFEFEF;
    width: 100%;
    height: 720px;
}
.big_box {
    height: 500px;
    width: 330px;
    margin-top: 160px;
    border: 1px solid #C1C1C1;
    background-color: #F7F7F7;
    position: relative;
}
.big_circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #C1C1C1;
    background-color: #F8F8F8;
    /*margin: 0 auto;*/
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 140px;
    top: -35px;
}
.small_circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #C1C1C1;
    margin-top: 15px;
}
.big_box h3 {
    font-size: 20px;
    color: #27c7ab;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 60px;
}
.big_box .price_circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #C1C1C1;
    background-color: white;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.price {
    font-size: 35px;
    font-weight: 700;
    color: #C1C1C1;
    display: block;
    margin-top: 30px;
}
.price :after {
    content: "pln/msc";
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}
.big_box ul li {
    display: block;
    text-align: center;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 0;
}
.big_box ul {
    margin-top: 40px;
}
.big_box ul li:nth-of-type(odd){
    background-color: #EFEFEF;
    color: #C1C1C1;
}
.big_box ul li:nth-of-type(even) {
    background-color: #e2e2e2;
    color: #A4A4A4;
}
.big_box button {
    width: 120px;
    height: 35px;
    display: block;
    background-color: #27c7ab;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 100;
    padding: 0;
    border: none;
    position: absolute;
    left: 105px;
    bottom: 10px;
}
.formular {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.form1 :nth-child(1) {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    margin-top: 30px;
}
.form1 :nth-child(2) {
    height: 5px;
    width: 320px;
    background-color: #27c7ab;
}
.form1 {
    display: flex;
    flex-direction: column;
    width: 700px;
}
.form1 :nth-child(3) {
    width: 630px;
    height: 65px;
    border: 1px solid #27c7ab;
    margin-top: 50px;
}
.form1 :nth-child(4) {
    width: 630px;
    height: 65px;
    border: 1px solid #27c7ab;
    margin-top: 25px;
}
.form1 :nth-child(5) {
    width: 630px;
    height: 190px;
    border: 1px solid #27c7ab;
    resize: none;
    margin-top: 25px;
}
.form1 ::placeholder {
    font-size: 30px;
    color: #cac9d1;
    padding-left: 15px;
    padding-top: 15px;
}
.form2 .form_image {
    background-image: url("../images/red_chair.png");
    height: 250px;
    width: 300px;
    background-repeat: no-repeat;
    margin-top: 70px;
}
.form2 label {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.form2 label input[type="checkbox"]  {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:1px solid #27c7ab;
    background-color: white;
}

/*.form2 label input {*/
    /*display: block;*/
    /*opacity: 0;*/
    /*height: 48px;*/
    /*position: absolute;*/
    /*width: 48px;*/
    /*cursor: pointer;*/
/*}*/

/*.form2 label {*/
    /*display: block;*/
    /*padding-left: 65px;*/
    /*position: relative;*/
    /*font-size: 28px;*/
    /*color: #cecece;*/
    /*line-height: 120%;*/
    /*padding-top: 10px;*/
    /*cursor: pointer;*/
/*}*/
.form2 label p {
    font-size: 20px;
    color: #cac9d1;
    font-weight: 100;
    margin-left: 10px;
}
.form2 > input[type="submit"] {
    width: 340px;
    height: 70px;
    background-color: #27c7ab;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 300;
    padding: 0;
    border: none;
    margin-top: 30px;
}
.fr {
    background-image: url("../images/flickr.png");
    height: 35px;
    width: 35px;
    display: inline-block;
}
.vimeo {
    background-image: url("../images/vimeo.png");
    height: 35px;
    width: 35px;
    display: inline-block;
}
.pinterest {
    background-image: url("../images/pinterest.png");
    height: 35px;
    width: 35px;
    display: inline-block;
}
.twitter {
    background-image: url("../images/twitter.png");
    height: 35px;
    width: 35px;
    display: inline-block;
}
.footer {
    height: 100px;
}
.footer p {
    color: #929199;
}
.faviconi {
    margin-left: 200px;
}
